html {
    scroll-behavior: smooth;
  }
  img{
    height: 300px;
}
body {
    margin: 0;
    overflow: auto;
    background-color: beige;
}

#stickMan {
    position: absolute;
    bottom: 1;
    left: 80%;
    transform: translateX(-50%);
}

#stick {
    width: 10px;
    height: 100px;
    background-color: brown;
    position: absolute;
    bottom: 0px;
    left: 40p;
    transform-origin: bottom center;
    transform: translateX(-50%);
}

#head {
    width: 40px;
    height: 40px;
    background-color: #9bf08c;
    border-radius: 50%;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}
.canvas{
width: 534px;
top: 50px;
height: 200px;
background-color: #b2c9b1;
}
p{
    color: #1b1515;
   
  font-size: large;
}
 

h1{
color: #d91212;
text-align: center;
}

a {
    color: rgb(21, 21, 244);
    text-align: right;
  
    font-size: x-large;
}


  
  .navbar {
    background-color: #333;
    overflow: hidden;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .navbar li {
    display: inline;
    margin-right: 20px;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 35px;
  }
  
  .navbar a:hover {
    color: #FF5733; /* Change the color when hovering over a link */
  }
  #col{
    color: #dc1919;
    background-color: black;
  }
  img{
    height: 500px;
  }
  #about {
    height: 60px;
    background-color: rgb(92, 148, 110);
  }
  
 
  
  #contact {
    height: px;
    background-color: #FF5733;
  }
