img{
    height: 300px;
}
body {
    margin: 0;
    overflow: hidden;
}

#stickMan {
    position: absolute;
    bottom: 1;
    left: 80%;
    transform: translateX(-50%);
}

#stick {
    width: 10px;
    height: 100px;
    background-color: brown;
    position: absolute;
    bottom: 0px;
    left: 40p;
    transform-origin: bottom center;
    transform: translateX(-50%);
}

#head {
    width: 40px;
    height: 40px;
    background-color: #9bf08c;
    border-radius: 50%;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}
.canvas{
width: 534px;
top: 50px;
height: 200px;
background-color: #0f4fd1;
}
p{
    color: #e6d3d3;
   
  font-size: large;
}
 

h1{
color: #d91212;
}
